*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

:root{
  --offWhite:#FFF7ED;
  --white:#ffffff;
  --gray:#4D4D4D;
  --orange:#FF8C38;
  --darkDray:#252525;
}
p{
  font-size: 1.5rem;
}
h1{
  font-size: 3rem;
    color: var(--darkDray);
    font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar */
.navbar{
  background-color: var(--offWhite);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}
nav .nav-link{
  color: var(--gray);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0rem 1rem;
  font-weight: bold;
}
/* home page style */
.home{
  background: url('../public/images/hero.png') no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 2rem;
  width: 100%;
  padding:2rem;
}
.home h1{
  font-size: 3rem;
  color: var(--white);
  font-weight: bolder;
}
.home p{
  font-size: 1.5rem;
    color: var(--white);
}
/* Common Button */
.button{
  background-color: var(--orange);
  border: none;
  color: var(--white);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
/* Footer */
footer{
background-color: var(--darkDray);
color: var(--offWhite);
text-align: center;
padding: 1rem;
}
/* About Page */
.about{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
img{
  width: 100%;
  /* height: 80vh; */
}

.about-orage-section{
  background-color: #FFCC8D;
  padding: 2rem;
  border-radius: 5px;
}
.about-orage-section h2{
  padding-bottom: 2rem;
}